<!doctype html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
    <!-- This is hand-crafted HTML so it's a damn mess... gimme a break -->
    <head>
        {% block head %}
        <title>{% block title %}{{ SITENAME|striptags }}{% endblock title %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% if SITESUBTITLE %}
        <meta name="description" content="{{ SITESUBTITLE }}" />
        {% endif %} {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME|striptags }} Full Atom Feed"/>
        {% endif %} {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME|striptags }} Full RSS Feed" />
        {% endif %} {% endblock head %}
    </head>

    <body bgcolor="#C0C0C0">
        <table border="0">
            <tr>
                <td>
                    <img
                        src="/theme/images/applecomputer.gif"
                        alt="It's IN the computer?"
                    />
                </td>
                <td>
                    <h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
                    {% if SITESUBTITLE %}
                    <p>{{ SITESUBTITLE }}</p>
                    {% endif %}
                </td>
            </tr>
        </table>

        <hr />

        {% block content %} {% endblock %}

        <hr />

        <center>
            {% if FEED_ALL_ATOM %}<a href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}">Atom Feed</a>| {% endif %} {% if FEED_ALL_RSS %}<a href="{{ SITEURL }}/{{ FEED_ALL_RSS }}">RSS Feed</a> | {% endif %} Why does this website look so broken? It doesn't, <a href="/the-www-peaked-in-1999.html">it's perfect!</a>
        </center>
        <br />
        <center>
            <img src="/theme/images/anybrowser.gif" alt="Best viewed in any browser" /> <a href="http://webring.theoldnet.com"><img src="/theme/images/theoldnetanim.gif" alt="TheOldNet WebRing" /></a>
        </center>
    </body>
</html>
